<div id="mr-t">
    <span>T</span>
</div>
<form id="login-form" action="/login" method="post">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <button>Log In</button>
    <a href="/register">Register</a>
</form>
<div id="about-us">
    <span>?</span>
</div>
