<form id="register" action="/create_user" method="post">
    <h1 style="text-align:center; margin-top: 48px;">Register</h1>
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <input type="password" name="confirm" placeholder="Confirm Password">
    <input type="submit" name="name" value="Register">
</form>
